<html>
  <head>
    <title>NC Student blog</title>
  </head>

  <body>
    <div>
      <h1><a href="/">NC Student Blog</a></h1>
    </div>

    <div>
      <p>published: 14.06.2014, 12:14</p>
      <h2><a href="">Surviving Fundamentals</a></h2>
      <p>
        Advice for your first three weeks...
      </p>
    </div>

    <div>
      <p>published: 14.06.2014, 12:14</p>
      <h2><a href="">Having fun on Fridays</a></h2>
      <p>
        Fill in your typeform and you're good to go... (and get a beer)
      </p>
    </div>
  </body>
</html>
